/* CSS Document */

a,
body,
table td, 
table tr {
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
table {
	font-size:11px;
}
h1 {
	font-size:30px;
	margin-left:110px;
}
hr {
	display:none;
}
#corpo {
	width:640px;
/*	margin:auto;*/
}
#rodape {
	text-align:center;
	padding-top:100px;
	font-size:10px;
}